*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 임시테두리 */
main, header, section, footer{
    border: 1px solid black;
}


script{
    width: 50px;
    height: 50px;
}

main{
    width: 940px;
    margin: auto;

    
    min-height: 500px;

    display: grid;

    grid-template-columns: repeat(5, 2fr);
}


header{
    display: flex;
    flex-direction: row;
}


header>section:nth-child(1){
    height: 57px; 

    display: flex;
    justify-content: start;
    align-items: center;

}


header>section:nth-child(2){
    
    height: 57px; 

    display: flex;
    justify-content: center;
    align-items: center;
}



/* header>section:nth-child(4){

    height: 57px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
} */


header>section:nth-child(4){

    height: 384px; 

    display: grid;

}


header>section:nth-child(5){
    min-height: 500px; 
}


#homeLogo{
    color: #2DB400;
    font-size: 36px;
    padding: 5px;

}


nav>ul{
    display: flex;

    /* li 태그 앞에 기호 삭제 */
    list-style: none;
    height: 100%;

}


nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    
    border-radius: 5px;
    transition-duration: 0.1s;
    /* height: 100%; */
}


#searchBtn{
    
    cursor: pointer;
    border: none;
    padding: 18px;
    
    font-size: 1.5em;
    color: #2DB400;
    background-color: white;

    
}















footer{
    width: 1475px;
    height: 335.6px;
    background-color: #ccc;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


footer>p{
    font-weight: bold;
    margin: 16px 0;
}

footer>article>*{
    font-size: 14px;
}

footer a{
    color: black;
    text-decoration: none;
}

footer span{
    padding: 0 10px;
}